<mat-form-field appearance="standard" class="example-container">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Luke" #input>
</mat-form-field>

<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" (scroll)="onTableScroll($event)" matSort multiTemplateDataRows>

        <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition"
             Name Column-->
        <!--Name-->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <!--Height Column-->

        <ng-container matColumnDef="height">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Height </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.height}} </mat-cell>
        </ng-container>

        <!--Mass Column-->

        <ng-container matColumnDef="mass">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Mass </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.mass}} </mat-cell>
        </ng-container>


        <!--hair_color Column-->

        <ng-container matColumnDef="hair_color">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Hair Color </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.hair_color}} </mat-cell>
        </ng-container>

        <!--skin_color Column-->

        <ng-container matColumnDef="skin_color">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Skin Color </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.skin_color}} </mat-cell>
        </ng-container>

        <!--birth_year Column-->

        <ng-container matColumnDef="birth_year">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Birth Year </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.birth_year}} </mat-cell>
        </ng-container>

        <!--gender Column-->

        <ng-container matColumnDef="gender">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Gender </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.gender}} </mat-cell>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">

            <mat-cell *matCellDef="let element" [attr.colspan]="12">
                <div class="example-element-detail"
                     [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

                    <div class="grid">
                        <ng-container>
                            <ng-container *ngTemplateOutlet="rowPeopleTemplate;"></ng-container>
                        </ng-container>
                    </div>

                </div>
            </mat-cell>

        </ng-container>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let element; columns: displayedColumns;  let i= index"
                 [class.example-expanded-row]="expandedElement === element"
                 (click)="expandedElement = expandedElement === element ? null : element;selectedRow(expandedElement);"></mat-row>

        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row w-100 p-3" [attr.colspan]="12"></tr>

    </mat-table>



</div>


<ng-template #rowPeopleTemplate
             let-people>
    <div class="shadow-lg">
        <div class="flex border-b">
            <!-- Selected product form -->
            <form class="flex flex-col w-full"
                  [formGroup]="selectedPeopleForm">

                <div class="flex flex-col md:flex-row p-8">

                    <div class="flex flex-auto flex-wrap">
                        <!-- Name, SKU & etc. -->
                        <div class="grid grid-cols-4 gap-8">

                            <!-- Name -->
                            <mat-form-field class="w-80">
                                <mat-label>HOME WORLD</mat-label>
                                <input matInput
                                       [formControlName]="'homeworld'">
                            </mat-form-field>

                            <!-- Created -->
                            <mat-form-field class="w-80">
                                <mat-label>CREATED</mat-label>
                                <input matInput
                                       [formControlName]="'created'">
                            </mat-form-field>

                            <!-- Edited -->
                            <mat-form-field class="w-80">
                                <mat-label>EDITED</mat-label>
                                <input matInput
                                       [formControlName]="'edited'">
                            </mat-form-field>

                            <!-- URL -->
                            <mat-form-field class="w-80">
                                <mat-label>URL</mat-label>
                                <input matInput
                                       [formControlName]="'url'">
                            </mat-form-field>

                            <!-- FILM LIST -->
                            <mat-form-field class="w-80">
                                <mat-label>FILMS</mat-label>
                                <mat-select [formControlName]="'films'">
                                    <ng-container *ngFor="let film of films">
                                        <mat-option [value]="film">
                                            {{film}}
                                        </mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>

                            <!-- SPECIES -->
                            <mat-form-field class="w-80">
                                <mat-label>SPECIES</mat-label>
                                <mat-select [formControlName]="'species'">
                                    <ng-container *ngFor="let specie of species">
                                        <mat-option [value]="specie">
                                            {{specie}}
                                        </mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>


                            <!-- VEHICLES -->
                            <mat-form-field class="w-80">
                                <mat-label>VEHICLES</mat-label>
                                <mat-select [formControlName]="'vehicles'">
                                    <ng-container *ngFor="let vehicle of vehicles">
                                        <mat-option [value]="vehicle">
                                            {{vehicle}}
                                        </mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>

                            <!-- STARSHIPS -->
                            <mat-form-field class="w-80">
                                <mat-label>STARSHIPS</mat-label>
                                <mat-select [formControlName]="'starships'">
                                    <ng-container *ngFor="let starship of starships">
                                        <mat-option [value]="starship">
                                            {{starship}}
                                        </mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>

                        </div>

                    </div>
                </div>


            </form>
        </div>
    </div>
</ng-template>
