<mat-form-field appearance="standard" class="example-container">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Luke" #input>
</mat-form-field>

<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" (scroll)="onTableScroll($event)" matSort multiTemplateDataRows>

        <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition"
             Name Column-->
        <!--Name-->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <!--Height Column-->

        <ng-container matColumnDef="height">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Height </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.height}} </mat-cell>
        </ng-container>

        <!--Mass Column-->

        <ng-container matColumnDef="mass">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Mass </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.mass}} </mat-cell>
        </ng-container>


        <!--hair_color Column-->

        <ng-container matColumnDef="hair_color">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Hair Color </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.hair_color}} </mat-cell>
        </ng-container>

        <!--skin_color Column-->

        <ng-container matColumnDef="skin_color">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Skin Color </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.skin_color}} </mat-cell>
        </ng-container>

        <!--birth_year Column-->

        <ng-container matColumnDef="birth_year">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Birth Year </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.birth_year}} </mat-cell>
        </ng-container>

        <!--gender Column-->

        <ng-container matColumnDef="gender">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Gender </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.gender}} </mat-cell>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">

            <mat-cell *matCellDef="let element" [attr.colspan]="12">
                <div class="example-element-detail"
                     [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

                    <div class="grid">
                        <ng-container>
                            <ng-container *ngTemplateOutlet="rowPeopleTemplate;"></ng-container>
                        </ng-container>
                    </div>

                </div>
            </mat-cell>

            <!--<td mat-cell *matCellDef="let element" [attr.colspan]="12" id="aarontest">
        <div class="example-element-detail"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

            <div class="grid">
                <ng-container>
                    <ng-container *ngTemplateOutlet="rowPeopleTemplate;"></ng-container>
                </ng-container>
            </div>

        </div>
    </td>-->
        </ng-container>
        <!--<ng-container matColumnDef="data2">
            <td mat-cell *matCellDef="let element" [attr.colspan]="6" id="aarontest">
                <div class="example-element-detail"
                     [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

                    <div class="grid">
                        <ng-container>
                            <ng-container *ngTemplateOutlet="rowPeopleTemplate;"></ng-container>
                        </ng-container>
                    </div>

                </div>
            </td>
        </ng-container>-->

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let element; columns: displayedColumns;  let i= index"
                 [class.example-expanded-row]="expandedElement === element"
                 (click)="expandedElement = expandedElement === element ? null : element;"></mat-row>

        <!-- <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row w-100 p-3" [attr.colspan]="12"></tr> -->

        <mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row" [attr.colspan]="12"></mat-row>

    </mat-table>



</div>


<ng-template #rowPeopleTemplate
             let-people>
    <div class="shadow-lg">
        <div class="flex border-b">
            <!-- Selected product form -->
            <form class="flex flex-col w-full"
                  [formGroup]="selectedPeopleForm">

                <div class="flex flex-col sm:flex-row p-8">

                    <!-- Product images and status -->
                    <div class="flex flex-col items-center sm:items-start mb-8 sm:mb-0">
                        <div class="flex flex-col items-center">
                            <div class="w-32 h-44 border rounded overflow-hidden">
                                <ng-container *ngIf="false">
                                    <img class="w-full h-full object-cover"
                                         [src]="">
                                </ng-container>
                                <ng-template #noImage>
                                    <span class="flex items-center min-h-20 text-lg font-semibold">NO IMAGE</span>
                                </ng-template>
                            </div>
                            <div class="flex items-center mt-2 whitespace-nowrap"
                                 *ngIf="false">
                                <button mat-icon-button>
                                    <mat-icon class="icon-size-5"
                                              [svgIcon]="'heroicons_solid:arrow-narrow-left'"></mat-icon>
                                </button>
                                <span class="font-sm mx-2">
                                    Test
                                </span>
                                <button mat-icon-button>
                                    <mat-icon class="icon-size-5"
                                              [svgIcon]="'heroicons_solid:arrow-narrow-right'"></mat-icon>
                                </button>
                            </div>
                        </div>
                        <div class="flex flex-col mt-8">
                            <span class="font-semibold mb-2">Product status</span>
                        </div>
                    </div>

                    <div class="flex flex-auto flex-wrap">
                        <!-- Name, SKU & etc. -->
                        <div class="flex flex-col w-full lg:w-2/4 sm:pl-8">

                            <!-- Name -->
                            <mat-form-field class="w-full">
                                <mat-label>Name</mat-label>
                                <input matInput
                                       [formControlName]="'name'">
                            </mat-form-field>

                            <!-- SKU and Barcode -->
                            <div class="flex">
                                <mat-form-field class="w-1/3 pr-2">
                                    <mat-label>SKU</mat-label>
                                    <input matInput
                                           [formControlName]="'name'">
                                </mat-form-field>
                                <mat-form-field class="w-2/3 pl-2">
                                    <mat-label>Barcode</mat-label>
                                    <input matInput
                                           [formControlName]="'name'">
                                </mat-form-field>
                            </div>

                            <!-- Category, Brand & Vendor -->
                            <!--<div class="flex">
                                <mat-form-field class="w-1/3 pr-2">
                                    <mat-label>Category</mat-label>
                                    <mat-select [formControlName]="'name'">
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field class="w-1/3 px-2">
                                    <mat-label>Brand</mat-label>
                                    <mat-select [formControlName]="'name'">
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field class="w-1/3 pl-2">
                                    <mat-label>Vendor</mat-label>
                                </mat-form-field>
                            </div>-->
                            <!-- Stock and Reserved -->
                            <div class="flex">
                                <mat-form-field class="w-1/3 pr-2">
                                    <mat-label>Stock</mat-label>
                                    <input type="number"
                                           matInput
                                           [formControlName]="'name'">
                                </mat-form-field>
                                <mat-form-field class="w-1/3 pl-2">
                                    <mat-label>Reserved</mat-label>
                                    <input type="number"
                                           matInput
                                           [formControlName]="'name'">
                                </mat-form-field>
                            </div>
                        </div>

                        <!-- Cost, Base price, Tax & Price -->
                        <div class="flex flex-col w-full lg:w-1/4 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label>Cost</mat-label>
                                <span matPrefix>$</span>
                                <input matInput
                                       [formControlName]="'name'">
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Base Price</mat-label>
                                <span matPrefix>$</span>
                                <input matInput
                                       [formControlName]="'name'">
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Tax</mat-label>
                                <span matSuffix>%</span>
                                <input type="number"
                                       matInput
                                       [formControlName]="'name'">
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Price</mat-label>
                                <span matSuffix>$</span>
                                <input matInput
                                       [formControlName]="'name'">
                            </mat-form-field>
                        </div>

                        <!-- Weight & Tags -->
                        <div class="flex flex-col w-full lg:w-1/4 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label>Weight</mat-label>
                                <span matSuffix>lbs.</span>
                                <input matInput
                                       [formControlName]="'name'">
                            </mat-form-field>

                            <!-- Tags -->
                            <span class="mb-px font-medium leading-tight">Tags</span>
                            <div class="mt-1.5 rounded-md border border-gray-300 shadow-sm overflow-hidden">
                                <!-- Header -->
                                <div class="flex items-center -my-px py-2 px-3">
                                    <div class="flex items-center flex-auto min-w-0">
                                        <mat-icon class="icon-size-5"
                                                  [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                        <input class="min-w-0 ml-2 py-1 border-0"
                                               type="text"
                                               placeholder="Enter tag name"
                                               [maxLength]="50"
                                               #newTagInput>
                                    </div>
                                    <button class="ml-3 w-8 h-8 min-h-8"
                                            mat-icon-button>
                                        <mat-icon *ngIf="true"
                                                  class="icon-size-5"
                                                  [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                                        <mat-icon *ngIf="false"
                                                  class="icon-size-5"
                                                  [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                    </button>
                                </div>
                                <!-- Available tags -->
                                <div class="h-44 leading-none overflow-y-auto border-t">
                                    <!-- Tags -->
                                    <ng-container *ngIf="true">
                                        <ng-container *ngFor="let tag of filteredTags; trackBy: trackByFn">
                                            <mat-checkbox class="flex items-center h-10 min-h-10 px-4"
                                                          [color]="'primary'"
                                                          [checked]="true">
                                                Tag Test
                                            </mat-checkbox>
                                        </ng-container>
                                    </ng-container>
                                    <!-- Tags editing -->
                                    <ng-container *ngIf="false">
                                        <div class="p-4 space-y-2">
                                            <ng-container>
                                                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-full">
                                                    <input matInput
                                                           [value]="">
                                                    <button mat-icon-button
                                                            matSuffix>
                                                        <mat-icon class="icon-size-5"
                                                                  [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                                    </button>
                                                </mat-form-field>
                                            </ng-container>
                                        </div>
                                    </ng-container>
                                    <div class="flex items-center h-10 min-h-10 -ml-0.5 pl-4 pr-3 leading-none cursor-pointer border-t hover:bg-gray-50 dark:hover:bg-hover"
                                         *ngIf="True"
                                         matRipple>
                                        <mat-icon class="mr-2 icon-size-5"
                                                  [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                                        <div class="break-all">Create "<b>Test Value</b>"</div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="flex items-center justify-between w-full border-t px-8 py-4">
                    <button class="-ml-4"
                            mat-button
                            [color]="'warn'">
                        Delete
                    </button>
                    <div class="flex items-center">
                        <div class="flex items-center mr-4"
                             *ngIf="flashMessage">
                            <ng-container *ngIf="True">
                                <mat-icon class="text-green-500"
                                          [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                <span class="ml-2">Product updated</span>
                            </ng-container>
                            <ng-container *ngIf="False">
                                <mat-icon class="text-red-500"
                                          [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                <span class="ml-2">An error occurred, try again!</span>
                            </ng-container>
                        </div>
                        <button mat-flat-button
                                [color]="'primary'">
                            Update
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</ng-template>
